# do not include any log files
*.log
log/*
log/*.log
log/development.log
log/production.log
log/test.log
log/server.log
 
# nothing in the tmp folder
tmp/**/*
  
# do not include the production or the test database
db/production.sqlite3
db/test.sqlite3
	 
# any swap files from vim
*.swp
