/* header styling */

#header {
  background: #303030;
  width: 890px;
  margin: auto;
  padding: 2px 10px 2px 0;
  text-align: right;
}

#header p {
  color: #f9f9f9;
  line-height: 0;
}

/* title styling */

#site_title {
  font-size: xx-large;
  font-weight: normal;
  text-align: center;
  padding: 0;
}

blockquote {
  text-align: center;
  line-height: 0;
  margin: 5px 0 0;
}

/* content styling */

#content {
  background: #fcfcfc;
  width: 898px;
  margin: 10px auto;
  border: 1px solid black;
}

#yield {
  padding: 10px;
}

#yield h1 {
  text-align: center;
  font-size: x-large;
  font-weight: normal;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}

/* footer styling */

#footer {
  width: 900px;
  margin: 0 auto 10px;
  text-align: center;
}

/* login styling */

#login {
  background: #b4d4d9;
  width: 300px;
  display: block;
  margin: auto;
  border: 2px solid blue;
}

#login legend {
  font-weight: bold;
  padding: 0 0 5px;
}

#new_user_session {
  text-align: right;
}

/* Service Stylig */

h4 {
  text-align: center;
  font-size: large;
}

#discussion_link {
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
}

#create_service {
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 10px 0 0;
}

.service_instance {
  text-align: center;
  list-style: none;
  padding: 0;
  border: 2px solid #666666;
  width: 250px;
  margin: 15px auto;
  padding: 0 5px 10px;
}

.service_instance h3 {
  line-height: 0;
  padding: 15px 0 0;
  margin: 0 0 10px;
}

#service_times_list {
  list-style: none;
  padding: 0;
  margin: -10px 0 15px;
}

#service_times_list li {
  margin: 0 0 5px;
  background: #cfcfcf;
  width: 375px;
  padding: 2px 0 2px 3px;
}

#attachment_list {
  list-style: none;
  padding: 0;
  margin: -10px 0 15px;
}

#attachment_list li {
  margin: 0 0 10px;

}

/* Comments Styling */

#comment_list {
  list-style: none;
  padding: 2px 10px;
}

#comment_list li {
  background: #ffcccc;
  padding: 5px 0; 
  margin: 0 0 10px 0;
}

.comment_header {
  line-height: 0;
  padding: 5px;
  font-weight: bold;
}

.comment_body {
  line-height: 1;
  padding: 0 10px;
}

.formList {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Rails defalts */

body { background-color: #6699ff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #666; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

